.main{
    display: flex;
    justify-content: center;
}

.main-slider{
    width: 50%;
}

.btn-back{
    background-color: #ef4444;
    padding: 7px 10px;
    border-radius: 7px;
    color: #fff;
    margin-top: 1rem;
}
